/* .container-log{
  height: 100vh;
  background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
}

.myform-log{
  margin-top: 10%;
  margin-bottom: 10%;
  background: #fff;
  padding: 50px;
  box-shadow: 0px 10px 40px -10px rgba(0 , 0, 0, 0.7);
}
.log-control{
  width: 400px;
}
.sign-link{
  text-decoration: none;
  margin-left: 10px;
} */





.container-log {
  height: 100vh;
  background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgba(225, 200, 239, 1) 21.4%, rgba(163, 225, 233, 1) 57.1%);
}
/* 
.myform-reg {
  margin-top: 8%;
  margin-bottom: 2%;
  background: #fff;
  padding: 50px;
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.reg-control {
  width: 400px;
}
*/
.mycheck {
  margin-left: 5px;
}
.err-p{
  font-size: x-small;
}
.rem-size{
  font-size: small;
}
.myform-log{
  padding-top: 130px;
}

.log-link {
  text-decoration: none;
  margin-left: 7px;
  color: rgba(225, 200, 239, 1);
}