* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-body{
    height: 91vh;
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
}
.contact-wrap {
    background-color: white;
}

.icon {
    background-color: #f7941e;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 40%;
}

.ftco-section {
    /* background-color: lightgray; */
    /* height: 100vh; */
    margin-top: 9vh;
}

.img {
    height: 100%;
    width: 100%;
}

.links {
    text-decoration: none;
    font-weight: 600;
    color: #f7941e;
}

.add-color {
    color: #f7941e;
}