/* p {
    font-family: Lato;
  }
  
  .register-form {
    box-sizing: border-box;
    max-width: 350px;
    margin: auto;
  }
.box{
  border: 1px solid red;
  padding: 20px;
  margin-top: 20px;
} */

.login-form{
  margin-top: 100px;
}