.logo-img {
    height: 40px;
    width: 191px;
}
.nav-colo-1 {
    background-image: radial-gradient(circle 588px at 31.7% 40.2%, rgba(225, 200, 239, 1) 21.4%, rgba(163, 225, 233, 1) 57.1%);

}

.nav-menu {
    font-weight: 700;
}

.dropdown-toggle::after {
    display: none !important;
}

.jagah {
    text-align: right;
}

.profile-icon {
    margin-right: 10px;
    font-size: 25px;
}
.link-item-colr{
    color: gray;
}