.contact-container{
    margin-top: 8vh;
    background-color: #fff;
    height: 92vh;
}
.contact-icon{
    margin-top: 30px;
}
.my-icon{
    background-color: #f7941e;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px;
}
.contact-info span{
    color: #f7941e;
    font-size: medium;
    letter-spacing: 1.5px;
}
.contact-form{
    height: max-content;
    padding: 30px;
    margin-bottom: 10px;
    box-shadow: 0 2px 40px 0 rgba(110, 130, 208, .18);
}
.contact-form h2{
    color: #f7941e;
}
.contact-img{
    height: 450px;
    width: 100%;
}

.form-control:focus {
    border-color: #f7941e;
    box-shadow: 0 0 0 0.01rem #e6a85d;
}