.about-full-back {
    background-image: var(--background--image--color);
}

.about-banner {
    height: 50vh;
    background-image: var(--background--image--color);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.about-banner h1 {
    padding-top: 150px;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.about-banner p {
    font-size: medium;
}

.myCards {
    margin: 30px;
    background: #FFF;
}

.upper-size {
    margin-top: 80px;
}

.contact-btn {
    font-size: 20px;
    color: gray;
    font-weight: 800;
    border: 1px solid gray;
    background-image: var(--background--image--color);
}
.post-style {
    font-weight: 100;
    color: gray;
}